<div>
	<h4><%= link_to "Trends", :controller => 'devices', :action => 'index' %></h4>
		<div>
			<%= tab_link "dE", 'devices', 'trend_de' %>
			<%= tab_link "LABCH", 'devices', 'trend_labch' %>   
			<%= tab_link "Spectral", 'devices', 'trend_spectral' %>   
		</div>
</div>