<div class="span-18">	
	<div class="prepend-5 span-10 last">
		<h3>Welcome <%= session[:user_name] %></h3>
	</div>
	<hr>
	<div class="prepend-5 span-10 last">		
		<p>It's <%= @time %></p>
	</div>
</div>